<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Edit Post</h1>
    <h3>Post id : <%= post.id %></h3>
    <h3>Username : @<%= post.username %></h3>
    
    <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
        <textarea name="content" id="" rows="8" cols="40"> <%= post.content %></textarea>
        <button class="btn">Submit</button>
    </form>
</body>
</html>